/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Aa]ssets/AssetStoreTools*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.log
sysinfo.txt
mono_crash.*
*.apk
*.aab
*.unitypackage
Library/ShaderCache/shader/Uber3821/00/12c8c88ae839b5478a6d3a713869dc85.bin
/Library/ShaderCache/shader/Uber3821/00
/Library
/Library/ShaderCache
/Library/ShaderCache/shader/Uber3821
